{
	"printWidth": 140,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"singleAttributePerLine": false,
	"bracketSameLine": false,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"requirePragma": false,
	"vueIndentScriptAndStyle": false,
	"overrides": [
		{
			"files": ["*.ts", "*.tsx"],
			"options": {
				"singleLine": {
					"blocks": "always",
					"getters": "always",
					"setters": "always",
					"functions": "ignore"
				}
			}
		},
		{
			"files": ["src/database/instances/UserDB.context.ts"],
			"options": {
				"singleLine": {
					"blocks": "always",
					"getters": "always",
					"setters": "always",
					"functions": "ignore"
				}
			}
		}
	]
}
